.row {
    border: 1px #000 dashed;
    margin: 3px;
}

.col {
    border: 1px red solid;
    margin: 5px;
}

#toprow {
    height: 50px;
}


#secondrow {
    min-height: 500px;
}

#formdiv {
    width: 300px;
    height: 400px;
}